* {
  box-sizing: inherit;
}

@media only screen and (max-width:620px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width:100%;
  }
}

html{
	box-sizing: border-box;
}

body {
	background-color:#e1dcdc;
	margin:0;
}

html,body{
    font-family:Helvetica,sans-serif;
    font-size:15px;
    line-height:1.5
}

hr{
    border:0;
    border-top:1px solid #eee;
    margin:20px 0
}

#titulo{
	font-size:18px
}

#contenedor {
	max-width:980px;
	margin-left:auto;
	margin-right:auto;
	margin-top:16px
}

#contenido {
	padding:0 8px
}

#untercio{
	float:left;
   	width:33.33333%;
	padding:0 8px
}

#nombre2{
	color:#FFF;
	font-size:2vw;
}

#miperfil{
	background-color:#FFF;
	color:#000000;
	box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)
}

#cabecera{
	position:relative;
}

.correo {
	font-size:0.90vw;
}

#nombre {
	padding:0.01em 16px;
	position:absolute;
	left:0;
    bottom:0;
	
}

 h1,h2,h3,h4,h5,h6{
    font-family:"Segoe UI",Arial,sans-serif;
    font-weight:400;
    margin:10px 0
}

h2{
    font-size:30px;	
}

h5{
    font-size:18px;
	opacity:0.60;
	margin:10px 0
}
h6{
    font-size:16px;
	color:#caa472
}

b{
    font-weight: bolder;
}

img{
    vertical-align:middle;
	border-style:none;
	width:100%;
}

#misdatos{
	padding:0.01em 16px
}

p {
	text-align:justify;
}

#dostercios{
	width:66.66666%;
	padding:0 8px;
	float:left;
}

#experiencia{
	background-color: #ffffff;
	margin-bottom: 16px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
	padding: 0.01em 16px;
}

#cont{
	padding:0.01em 16px
}

#titulo2{
	font-size:20px;	
	padding-top: 5px;
    padding-bottom: 5px;
	color:#757575
}

#presente{
    display:inline-block;
	border-radius:4px;
    padding-left:8px;
    padding-right:8px;
    text-align:center;
	color:#fff;
    background-color:#caa472
}

#educacion{
	background-color: #ffffff;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
	padding: 0.01em 16px;
}

footer {
	margin-top:16px;
	display:inline-block;
	padding:0.01em 16px;
	color:#fff;   
    width:100%;
}
